* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px;
}

#top-section {
    background-color: #303030;
    color: white;
    text-align: left;
    padding: 176px 0px;
}

.title {
    font-size: 3.75rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.25rem;
}

#info-summary {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 80px;
    flex-wrap: wrap;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: 10px;
}

.number {
    font-size: 2.5rem;
    font-weight: bold;
}

#about-us .container {
    display: flex;
}

#about-us h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

#about-us p {
    font-size: 1.5rem;
    font-weight: 300;
}

.text-content {
    display: flex;
    max-width: 735px;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.image-content {
    max-width: 510px;
    padding: 20px;
    text-align: center;
}

#about-us img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#contact-form {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 85px 20px;
}

#contact-form h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contact-form input {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    max-width: 508px;
    height: 72px;
    padding: 10px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

#contact-form button {
    background-color: #C07212;
    color: #EAECE5;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
}

#contact-form button:hover {
    background-color: #318fb8;
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#successMessage {
    margin-top: 20px;
    color: #ffffff; 
    font-size: 1.2rem;
    display: none; 
}

@media (max-width: 768px) {
    .title {
        font-size: 2.5rem; 
    }

    .subtitle {
        font-size: 1rem; 
    }

    .number,   #about-us h2{
        font-size: 2rem; 
    }

    #about-us p {
        font-size: 1.25rem; 
    }

    #contact-form h2,  #contact-form button {
        font-size: 1.5rem; 
    }

    #contact-form input {
        font-size: 1.2rem; 
    }
}

@media (max-width: 1300px) {
    #about-us .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1080px) {
    #info-summary {
        flex-direction: column;
    }

    .info-block {
        align-items: center;
    }

    .text-content h2 {
        padding-top: 40px;
    }
}
